.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.posting{
  text-align: left;
  max-width: 500px;
}
h1{
  color: blue;
  font-family: "Times New Roman";
  font-weight:  500;
  line-height: 135%;
  font-size: 235%;
}
h2{
  color: black;
  font-family: "Times New Roman";
  font-size: 1.4em;
  font-weight: bold;
}
p{
  font-family: "Times New Roman";
  color: black;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
button{
  font-family: "Arial";
  margin: 0.83em;
}
